<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<body>

<script th:inline="javascript">
    /*
       Getting the criteria information from the form and setting it to variables
       if the variables have not yet been set, initialize them as "null" (as a string) or 0 to avoid errors with the URL
       setting them as "null" or 0 prevents the URL from being invalid and allows me to query the data in the backend
       Ref Week 6 - Spring Boot URL Parameters and JavaScript
     */
    var criteriaName = [[${criteria.restaurantName}]] == null ? "null" : [[${criteria.restaurantName}]];
    var criteriaRating = [[${criteria.rating}]] == null ? 10 : [[${criteria.rating}]];
    var url;

    //if the criteria variables have not been updated from 'default' they will just be ignored in 'reviewStream'
    url = new URL(`http://localhost:8888/reviewStream?restaurantName=${criteriaName}&rating=${criteriaRating}`);

    var source = new EventSource(url);

    source.onopen = function () {
        console.log('A connection to the stream has been opened');
    }

    source.onerror = function (error) {
        console.log('An error has occurred while receiving stream data', error);
        source.close();
    }

    source.onmessage = function (event) {
        console.log('received event', event);

        var data = event.data;
        var json = JSON.parse(data);

        var table = document.getElementById("reviewsTable").getElementsByTagName('tbody')[0];
        var newRow = table.insertRow();

        var cell1 = newRow.insertCell(0);
        var cell2 = newRow.insertCell(1);
        var cell3 = newRow.insertCell(2);
        var cell4 = newRow.insertCell(3);
        var cell5 = newRow.insertCell(4);
        var cell6 = newRow.insertCell(5);
        var cell7 = newRow.insertCell(6);

        cell1.innerHTML = json.restaurant_name;
        cell2.innerHTML = json.rating;
        cell3.innerHTML = json.review ? json.review : "No Review Available";
        cell4.innerHTML = json.address;
        cell5.innerHTML = json.menu_item;
        cell6.innerHTML = json.opening_hours + "a.m - " + json.closing_hours + "p.m"; //Data conversion for information display
        cell7.innerHTML = json.delivery_available ? "Yes" : "No"; //Data conversion for information display

    }

</script>


<h1>Restaurant Reviews</h1>
<h2><a href="/savedReviews">View saved reviews</a></h2>
<h2>Query saved data:</h2>
<form th:action="@{/saveCriteria}" th:object="${criteria}" name="saveCriteria" method="post" >

    Restaurant:
    <select id="restaurantName" th:field="*{restaurantName}" required="false">
                    <option value="null"></option>
                    <option value="McDonalds">McDonalds</option>
                    <option value="KFC">KFC</option>
                    <option value="Burger King">Burger King</option>
                    <option value="Shake Dog">Shake Dog</option>
                    <option value="Nandos">Nandos</option>
                </select><br>

    Anything Over
    <input type="number" th:field="*{rating}" id="rating"  min="1" max="5">
    Stars <br>

    <input type="submit" value="Update Criteria"><br>
</form>

<table id="reviewsTable">
    <thead>
        <tr>
            <td>Restaurant Name</td>
            <td>Rating</td>
            <td>Review</td>
            <td>Address</td>
            <td>Item Ordered</td>
            <td>Open Hours</td>
            <td>Delivery Available</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>




</body>
</html>