<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saved Reviews</title>
</head>
<body>

<script th:inline="javascript">

    var restaurantName = [[${criteria.restaurantName}]];
    console.log(restaurantName);

    fetch(`/reviews/saved?restaurantName=${restaurantName}`)
        .then(response => response.json())
        .then(data => {
            console.log(data.length)
            data.forEach(review => {

                var table = document.getElementById("reviewsTable").getElementsByTagName('tbody')[0];
                var newRow = table.insertRow();

                var cell1 = newRow.insertCell(0);
                var cell2 = newRow.insertCell(1);
                var cell3 = newRow.insertCell(2);
                var cell4 = newRow.insertCell(3);
                var cell5 = newRow.insertCell(4);
                var cell6 = newRow.insertCell(5);
                var cell7 = newRow.insertCell(6);
                var cell8 = newRow.insertCell(7);
                var cell9 = newRow.insertCell(8);

                cell1.innerHTML = review.restaurant_name;
                cell2.innerHTML = review.rating;
                cell3.innerHTML = review.review ? review.review : "No Review Available";
                cell4.innerHTML = review.address;
                cell5.innerHTML = review.menu_item;
                cell6.innerHTML = review.opening_hours + "a.m - " + review.closing_hours + "p.m"; //Data conversion for information display
                cell7.innerHTML = review.delivery_available ? "Yes" : "No"; //Data conversion for information display
                cell8.innerHTML = "<a href='/reviews/edit?id=" + review.id + "'>Edit</a>";
                cell9.innerHTML = "<a href='/reviews/delete?id=" + review.id + "'>Delete</a>";
            })
        })
        .catch(error => {
            console.error('Error:', error);
        });


</script>


<h1>Saved Reviews</h1>
<h2><a href="/">Return</a></h2>

<form th:action="@{/savedReviews}" th:object="${criteria}" name="displaySavedFor" method="post">

    Display all reviews for
    <select id="restaurantName" th:field="*{restaurantName}" required="false">
        <option value="McDonalds">McDonalds</option>
        <option value="KFC">KFC</option>
        <option value="Burger King">Burger King</option>
        <option value="Shake Dog">Shake Dog</option>
        <option value="Nandos">Nandos</option>
    </select><br>
    <input type="submit" value="Display"><br>
</form>

<table id="reviewsTable">
    <thead>
    <tr>
        <th>Restaurant Name</th>
        <th>Rating</th>
        <th>Review</th>
        <th>Address</th>
        <th>Menu Item</th>
        <th>Opening Hours</th>
        <th>Delivery Available</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</body>
</html>